<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>form</title>
  </head>
  <body>
    <form action="/produtos" method="post">
      <div class="errors">
          <%if(errosValidacao.length){%>
            <ul>
              <%for(var i = 0; i<errosValidacao.length; i++){%>
                <li><%=errosValidacao[i].param%> - <%=errosValidacao[i].msg%></li>
              <%}%>
            </ul>
          <%}%>
      </div>
      <%=user%>
      <div>
        <label for="name">Name</label>
        <input id="name" type="text" name="name" placeholder="name" value="<%=user.titulo%>">
      </div>
      <div>
        <label for="email">email</label>
        <input id="email" type="text" name="email" placeholder="email" value="<%=user.email%>">
      </div>
      <div>
        <label for="cpf">CPF</label>
        <input id="cpf" type="text" name="cpf" placeholder="email" value="<%=user.cpf%>">
      </div>
      <button type="submit">Save</button>
    </form>
  </body>
</html>
